.guest_tile {
  height: 4rem;
  background-color: #ff5050;
  border: 5px solid #DD4444;
  border-radius: 2rem;
  margin: 1rem auto;
  color: #E5E7E6;
  align-items: center;
}

.edit_button {
  color: #000B41;
  margin-left: 2rem;
}

.edit_button:hover {
  color: #464F7A;
}

.guest_input_edit {
  max-width: 30%;
  height: 3rem;
  border-radius: 1.5rem;
  display: inline-block;
  font-size: 2rem;
}

input[type=text].guest_tile {
  color: #000B41;
  background-color: #E5E7E6;
  text-align: center;
}