.plus-minus-input {
  max-width: 25rem;
  align-items: center;

  .input-group-field {
    text-align: center;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    padding: 1rem;
    border-radius: 0.75em;
    max-width: 10rem;

    &::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      appearance: none;
    }
  }

  .input-group-button {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    .circle {
      border-radius: 50%;
      padding: 0.7em 0.7em;
      color: #DD4444;
      border-color: #DD4444;
    }

    .circle:hover {
      color: #464F7A;
      border-color: #464F7A;
    }
  }
}

.next_button {
  font-size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.rest_name_div {
  color: #000B41;
}

.rest_name_input {
  color: #000B41;
  font-size: 2rem;

  & input {
    width: 50%;
    margin-left: 25%;
  }
}

.form_button {
  font-size: 1.25rem;
  height: 4rem;
  background-color: #ff5050;
  border: 5px solid #DD4444;
  border-radius: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #E5E7E6;
  padding-top: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_button:hover{
  color: #E5E7E6;
  background-color: #DD4444;
  border-color: #ff5050;
}

.guest_name {
  font-size: 1.5rem;
  padding-top: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}