.plus-minus-input {
  max-width: 25rem;
  align-items: center;

  .input-group-field {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
    border-radius: 0.75em;

    &::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      appearance: none;
    }
  }

  .input-group-button {
    .circle {
      border-radius: 50%;
      padding: 0.7em 0.7em;
      color: #DD4444;
      border-color: #DD4444;
    }

    .circle:hover {
      color: #464F7A;
      border-color: #464F7A;
    }
  }
}
